
.hero {
  background-color: #f5f5f5;
  padding: 50px 5%;
  position: relative;
  overflow: visible;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

.hero-text h1 {
  font-size: 100px;
  font-weight: 800;
  color: #000;
  line-height: 1.1;
}

.hero-text h1 span {
  color: #1f57ff;
}

.hero-text h2 {
  font-size: 70px;
  font-weight: 800;
  color: #000;
  margin-top: 20px;
}

.hero-image img {
  width: 200px;
  justify-items: right;
}

/* Responsive */
@media (max-width: 992px) {
  .hero-container {
    flex-direction: row;
    text-align: center;
  }

  .hero-text h1,
  .hero-text h2 {
    font-size: 50px;
  }

  .hero-image img {
    width: 200px;
    margin-top: 40px;
  }
}
.hero {
  position: relative;
  width: 100%;
}

.office-img {
  width: 100%;
  height: 500px;      /* apni need ke mutabiq change kar sakte ho */
  object-fit: cover;
  display: block;
  border-radius: 20px; /* agar rounded corner chahte ho */
}

.girl-img {
  position: absolute;
  right: 0;
  top: -100px;
  bottom: -50px;
  width: 500px;
  z-index: 3;
}
.hero {
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0;
}

