.team {
  background: #c7d2e2;
  text-align: center;
  padding: 60px 20px;
}

.team h4 {
  color: #0a2a43;
  letter-spacing: 2px;
}

.team h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #0a2a43;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: transparent; /* white remove kar diya */
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.info {
  background: #1e5eff;
  color: white;
  padding: 20px;
}